/* tourist attraction navbar start */

#tourist_attractions_navbar{
    height: 60px;
    width: auto;
    background-color: #e8e5e2;
    display: flex;
}

#tourist_attractions_navbar_1{
    height: 60px;
    width: 800px;
    /* border: 2px red solid; */
    background-color: #e8e5e2;
    display: flex;
    margin: 0px auto;
    justify-content: space-around;
}

.tourist_attractions_items{
    /* border: 2px red solid; */
    background-color: #e8e5e2;
    color: #272727;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
}

#tourist_attractions_navbar_1 a{
    text-decoration: none;
}

#tourist_attractions_navbar_1 a span:hover{
    color: red;
    cursor: pointer;
}

/* tourist attraction navbar end */


/* main content start */

#tourist_attractions_start{
    height: 1950px;
    width: auto;
    /* border: 2px solid rgb(238, 19, 19); */
    background-image: url(HOME_PAGE_IMAGE/Background\ image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#tourist_attractions_start #subheader {
    height: 120px;
    width: auto;
    /* border: 1px solid red; */
}

#tourist_attractions_start #subheader #subheader_name{
    height: 80px;
    width: auto;
    /* border: 1px solid red; */
    font-size: 40px;
    text-align: center;
    padding-top:35px;
    margin-top: 10px;
}

#tourist_content{
    height: 1750px;
    width: 1291px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: grid;
    grid-template-rows: 400px 400px 400px 400px;
    grid-template-columns: 630px 630px;
    justify-content: center;
    align-content: center;
    gap: 20px;
    row-gap: 40px;
}

.txt, .img {
    /* border: 1px solid blue; */
    border-radius: 20px;
    box-shadow: 0 0 6px black;
    border: none;
    outline: none;
}

.txt>.title{
    height: 40px;
    /* border: 2px solid saddlebrown; */
    text-align: center;
    font-size: 30px;
    color: blue;
}


.txt>.title_content{
    height: 360px;
    /* border: 1px solid saddlebrown; */
    font-size: 22px;
    word-spacing: 2px;
    line-height: 1.5;
}

.img>img{
    height: 400px;
    width: 630px;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 0 6px black;
}



/* main content end */